/* Box Dimensions/Properties */
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  
}
body{background-color: #f9f9f9}

.trading-card {width: 350px;
  border: 12px solid rgb(246, 138, 5);
  box-shadow: 0px 0px 30px black;
 padding: 0 2rem 2rem 2rem;
  margin: 80px auto;
  background-image: url("floralpattern2.png");
}


h1{
  margin: 30px 0 20px 0;
  color: orange;
}
.introduction{
  font-size: 1.3rem;
  margin: 0px 0 45px 0;
  line-height: 30px;
}
.trading-card hr{
  margin: 25px 0 15px;
}

 /* Image */
 .animalPicture {
  width: 350px;
  height: 250px; 
  margin-bottom: 50px;
}

  .info-box {
    width: 350px;
    border: 2px solid  black;
    padding: 0.8rem;
    box-sizing: border-box;
    
  }
  
  h3{font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(237, 138, 9);
  }


  /* Interesting Fact */
  .funfact {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  h4{font-style: italic;
    font-size: 1.5rem;
    color: orange;
  }

  .info-box hr{
    margin-top: 0;
  }

  /* List Information */
  .list-info{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  span {
    font-weight: bold;
   
  }
